$green: #4caf50;
$blue: #2196f3;
$purple: #ce93d8;

@mixin button-style($background-color, $border) {
    background-color: $background-color;
    color: white;
    border: 1px solid $border;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

@mixin icon-button-style($background-color, $border) {
    background-color: $background-color;
    color: white;
    font-size: 8pt;
    padding: 5px;
    border: 1px solid $border;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-right: 10px;
    cursor: pointer;
}
/*---icon button-*/
.edit-icon-button {
    @include icon-button-style($green, $green);
}
.view-icon-button {
    @include icon-button-style($blue, $blue);
}
.paddingZero {
    padding: 0;
}
.createNewBtn {
    @include button-style($blue, $blue);
}
.paddingZero {
    padding: 0;
}
.thWidth {
    width: 0px;
}
.tableWidth {
    padding-top: 10px;
    min-width: 0em;
}
.textOverFlow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 375px) {
    .createNewBtn {
        background-color: #2196f3;
        color: white;
        border: 1px solid #2196f3;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 6pt;
    }
    .showAllBtn {
        background-color: $purple;
        color: white;
        border: 1px solid $purple;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 6pt;
    }
    .groupFormInput {
        .buttonSection {
            display: flex;
            padding: 10px 0px !important;
            min-width: 5em;
        }
    }
    .thWidth {
        width: 40px;
    }
    .tableWidth {
        padding-top: 10px;
        min-width: 20em;
    }
    .edit-icon-button {
        background-color: #4caf50;
        color: white;
        font-size: 4pt;
        padding: 2px;
        border: 1px solid #4caf50;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-right: 5px;
        cursor: pointer;
    }
    .view-icon-button {
        background-color: $blue;
        color: white;
        font-size: 4pt;
        padding: 2px;
        border: 1px solid $blue;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-right: 5px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 425px) {
    .createNewBtn {
        background-color: #2196f3;
        color: white;
        border: 1px solid #2196f3;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 6pt;
    }
    .showAllBtn {
        background-color: $purple;
        color: white;
        border: 1px solid $purple;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 6pt;
    }
    .groupFormInput {
        .buttonSection {
            display: flex;
            padding: 10px 0px !important;
            min-width: 5em;
        }
    }
    .thWidth {
        width: 40px;
    }
    .tableWidth {
        padding-top: 10px;
        min-width: 23em;
    }
    .edit-icon-button {
        font-size: 4pt;
        padding: 2px;
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
    .view-icon-button {
        font-size: 4pt;
        padding: 2px;
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
}
@media only screen and (min-width: 1200px) {
    .createNewBtn {
        background-color: #2196f3;
        color: white;
        border: 1px solid #2196f3;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 12pt;
    }
    .showAllBtn {
        background-color: $purple;
        color: white;
        border: 1px solid $purple;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        font-size: 12pt;
    }
    .groupFormInput {
        .buttonSection {
            display: flex;
            padding: 10px 0px !important;
        }
    }

    .edit-icon-button {
        color: white;
        font-size: 8pt;
        padding: 5px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-right: 10px;
        cursor: pointer;
    }
    .view-icon-button {
        color: white;
        font-size: 8pt;
        padding: 5px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-right: 10px;
        cursor: pointer;
    }
    .thWidth {
        width: 0px;
    }
    .tableWidth {
        padding-top: 10px;
        min-width: 0em;
    }
}
