<!--content-->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 main-content-style">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 align-center">
        <span class="MainHeading">Wanninayake Filling Station - Unawatuna Buttala</span>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-center">
        <div> <span>{{userName}}</span></div>
        <div class="logoutStyle" (click)="logout()">
            <span class="spanRight">logout</span><i class="fas fa-sign-out-alt margin-right-auto"></i>
            </div>
    </div>


</div>
<!--end content-->