<div id="contentToConvert">
    <div class="col-12" style="padding-top: 10px;">
        <div>
            <h4 style="text-align: center;color: red;">Wanninayake Filling Station - Unawatuna Buttala</h4>
        </div>
        <div style="display: flex;">
            <div style="margin-right: auto;"><span>Date : </span> <span>{{createdDate |date}}</span></div>
            <div style="margin-left: auto;"><span>Time : </span> <span>{{createdDate |date:'h:mm a'}}</span></div>
        </div>
        <div class="col-12">
            <h5 style="text-align: center;">Inventory Detail</h5>
        </div>
        <div class="col-6"></div>
    </div>
    <div *ngFor="let singleList of singleInventory">
        <div class="col-12" style="display: flex;">
            <div class="col-6 label-fiels-section">
                <div class="labelFields"><label>User Name</label></div>
                <div class="labelFields"><label>Fuel Type</label></div>
                <div class="labelFields"><label>Created Date</label></div>
                <div class="labelFields"><label>Pumper</label></div>
                <div class="labelFields"><label>Closing Amount</label></div>
                <div class="labelFields"><label>Opening Amount</label></div>
                <div class="labelFields"><label>Testing Amount</label></div>
                <div class="labelFields"><label>Total Quantiy</label></div>
                <div class="labelFields"><label>Total Price</label></div>
            </div>
            <div class="col-6 data-fiels-section">
                <div class="dataFields"><label>{{singleList.UserName}}</label></div>
                <div class="dataFields"><label>{{singleList.FuelType}}</label></div>
                <div class="dataFields"><label>{{singleList.CreatedDate | date}}</label></div>
                <div class="dataFields"><label>{{singleList.PumperType}}</label></div>
                <div class="dataFields"><label>{{singleList.ClosingAmount | number:'1.4-4'}} liters</label></div>
                <div class="dataFields"><label>{{singleList.OpeningAmount | number:'1.4-4'}} liters</label></div>
                <div class="dataFields"><label>{{singleList.TestingAmount | number:'1.4-4'}} liters</label></div>
                <div class="dataFields"><label>{{singleList.TotalQuantiy | number:'1.4-4'}} liters</label></div>
                <div class="dataFields"><label>{{singleList.TotalPrice | currency:'Rs ':'symbol':'1.2-2'}}</label></div>
            </div>
            
        </div>
        
    </div>
</div>
<div class="col-12" style="padding-top: 10px;"><button  style="color: white;border: rgb(117, 117, 233);background-color: rgb(117, 117, 233);" (click)="generatePDF()">Generate PDF</button></div>